<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
    
    title 劉弘翊 Hong-Yi Liou | Front-end Developer
body
    //- Head
    header.header
        .background
        .container
            .header_content
                a(href="https://hongyiliou.github.io/MyResume") Hong-Yi Liou
                ul.nav
                    li#intro_nav.navBtn 關於我
                    li#works_nav.navBtn 作品集
                    li#contact_nav.navBtn 聯繫我
                    li.navBtn 履歷表
                        a.resume(href="https://drive.google.com/uc?export=view&id=1ItBKh2xqbQ_vnRbOaJvsvGyAqZpgMfMa" target="_blank")
                //- 漢堡選單
                .hamburger
    .head
        .me
            .me_border
            .textArea
                h1 劉弘翊 ｜ Hong-Yi Liou
                span Front-end Developer、Acoustic Guitarist
        .contactArea
            h1 Contact Me
            p E-mail： t30034a7@gmail.com
            p Tel： 0925-518-508

    //- Intro
    article#intro.intro
        .container
            .intro_content
                .textArea
                    h1 Hong-Yi Liou
                    p 劉弘翊，三年實務經驗的前端工程師，熱愛音樂、影像視覺，樂於學習新技術。
                        br
                        |喜歡一點一滴累積完成一首曲子、一幅影像、一個網頁的成就感。好溝通、善於配合。
                    h2 Tools： HTML / Pug、CSS / Sass、JavaScript / TypeScript / React / Angular / jQuery、Photoshop / Illustrator
                    button.myResumeBtn 我的履歷
                        a(href="https://drive.google.com/uc?export=view&id=1ItBKh2xqbQ_vnRbOaJvsvGyAqZpgMfMa" target="_blank" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;")
                .photo

    //- Works
    article#allworks.allworks
        .container_narrow
            .works_content
                h1 作品集
                section.works.works-7
                    a.screenShot(href="https://hongyiliou.github.io/BalanceSheet/" target="_blank")
                    h2.title Balance Sheet
                    p 本來是練習以 Google 雲端試算表為資料庫的 WebApp，結果功能越做越多...
                        br
                        | ( 測試帳密：test / test )。
                section.works.works-1
                    a.screenShot(href="https://hongyiliou.github.io/ButtonsDemo/" target="_blank")
                    h2.title Buttons Demo
                    p 獨立設計的按鈕 Demo 展示網頁，並結合 skrollr.js 製作動態效果。最上方的按鈕是純手刻的呦！  
                section.works.works-2
                    a.screenShot(href="https://hongyiliou.github.io/weatherbox/" target="_blank")
                    h2.title Weather Box
                    p 以 CSS 刻出動態互動天氣盒子(滑鼠移入/點擊互動)，並利用 jQuery 呈現現實時間。
                //- section.works.works-3
                //-     a.screenShot(href="https://hongyiliou.github.io/lightbox/" target="_blank")
                //-     h2.title Lightbox
                //-     p Javascript 讀取 AJAX 資料製作圖片投影燈箱。
                section.works.works-4
                    a.screenShot(href="https://hongyiliou.github.io/4numbers/" target="_blank")
                    h2.title 四個數字
                    p 讀取輸入在 input 中的數字並顯示於手刻顯示器上、讀取顏色 input 來改變整個網頁的色彩樣式。
                section.works.works-5
                    a.screenShot(href="https://hongyiliou.github.io/Buylist/" target="_blank")
                    h2.title 動態購物清單
                    p 可自由增刪，並加總價格的購物清單。
                section.works.works-6
                    a.screenShot(href="https://hongyiliou.github.io/iphones/" target="_blank")
                    h2.title iPhones
                    p 使用 jQuery 切換 css/class 製作，模擬手機切換型號/頁面。

    //- Contact
    article#contact.contact
        h1 E-mail： t30034a7@gmail.com
        h1 Tel： 0925-518-508
        ul.social
            li.github
                a(href="https://github.com/HongyiLiou" target="_blank" title="Github")
            li.codepen
                a(href="https://codepen.io/HongyiLiou" target="_blank" title="Codepen")
            li.facebook
                a(href="https://www.facebook.com/uchiha.zhu" target="_blank" title="Facebook")
            li.instagram
                a(href="https://www.instagram.com/hongyi_liou" target="_blank" title="Instagram")
            li.youtube
                a(href="https://goo.gl/vZ8g9S" target="_blank" title="Youtube")
        p Hong-Yi Liou © 2019 All Rights Reserved

    //- 回頂端按鈕
    article#topBtn.topBtn
        p TOP

    //- 手機版漢堡選單展開
    article.hamburgerFull
    article.hamburgerList
        img.hamburgerListImg(src="")
        ul.hamburgerList_nav
            li#intro_list.intro_list 關於我 - About Me
            li#works_list.works_list 作品集 - Works
            li#contact_list.contact_list 聯繫我 - Contact Me
            li.resume_list 履歷表 - My Resume
                a(href="https://drive.google.com/uc?export=view&id=1ItBKh2xqbQ_vnRbOaJvsvGyAqZpgMfMa" target="_blank")
            li.return_list 返回 - Back






    script(type="text/javascript" src="js/main.js")