@charset "UTF-8";
* {
  border: solid 1px black;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif, 'Yantramanav', sans-serif, 微軟正黑體;
  vertical-align: top; }

html, body {
  padding: 0;
  margin: 0;
  border: none; }

.leftsection {
  width: 360px;
  color: white;
  margin: 0;
  padding: 0;
  position: absolute; }
  .leftsection .top {
    height: 260px;
    background-color: #240024; }
    .leftsection .top .headpic {
      background-color: #FFFBC2;
      display: block;
      top: 30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative;
      width: 120px;
      height: 120px;
      border: solid 5px #FFFBC2;
      border-radius: 100%;
      padding: 0;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0px 0px 10px white;
      box-shadow: 0px 0px 10px white; }
      .leftsection .top .headpic img {
        width: 100%;
        display: block;
        text-align: center;
        border: none; }
    .leftsection .top .name {
      display: block;
      text-align: center;
      position: relative;
      top: 50px; }
      .leftsection .top .name p.chi, .leftsection .top .name p.eng {
        color: white;
        letter-spacing: 1px; }
      .leftsection .top .name p.chi {
        font-weight: 600;
        font-size: 24px; }
      .leftsection .top .name p.eng {
        font-size: 18px; }
  .leftsection .bottom {
    height: 820px;
    background-image: -webkit-linear-gradient(bottom, #0C000D, #44134A);
    background-image: -moz-linear-gradient(bottom, #0C000D, #44134A);
    background-image: -o-linear-gradient(bottom, #0C000D, #44134A);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#0C000D), to(#44134A));
    background-image: linear-gradient(bottom, #0C000D, #44134A); }
    .leftsection .bottom p.title {
      font-size: 20px;
      padding: 15px 20px;
      color: #FFFBC2;
      font-weight: 900;
      text-shadow: 0px 0px 10px white; }
    .leftsection .bottom .about {
      height: 170px; }
      .leftsection .bottom .about p.content {
        padding: 5px 35px;
        font-size: 16px;
        text-indent: 32px; }
    .leftsection .bottom .contact {
      height: 160px;
      font-size: 20px; }
      .leftsection .bottom .contact .email, .leftsection .bottom .contact .phone {
        padding: 5px 35px; }
        .leftsection .bottom .contact .email .icon, .leftsection .bottom .contact .email p, .leftsection .bottom .contact .phone .icon, .leftsection .bottom .contact .phone p {
          display: inline-block;
          line-height: 40px; }
        .leftsection .bottom .contact .email p, .leftsection .bottom .contact .phone p {
          font-family: 'Yantramanav';
          letter-spacing: 1px;
          font-size: 17px; }
        .leftsection .bottom .contact .email .icon, .leftsection .bottom .contact .phone .icon {
          width: 40px;
          height: 40px;
          text-align: center;
          background-color: #240024;
          border-radius: 100%;
          margin-right: 4px; }
          .leftsection .bottom .contact .email .icon i, .leftsection .bottom .contact .phone .icon i {
            position: relative;
            top: 23%; }
          .leftsection .bottom .contact .email .icon i.fa.fa-phone, .leftsection .bottom .contact .phone .icon i.fa.fa-phone {
            top: 30%; }
    .leftsection .bottom .skills {
      font-size: 20px; }
      .leftsection .bottom .skills .html, .leftsection .bottom .skills .css, .leftsection .bottom .skills .js, .leftsection .bottom .skills .design {
        padding: 5px 35px; }
        .leftsection .bottom .skills .html .icon, .leftsection .bottom .skills .html p, .leftsection .bottom .skills .css .icon, .leftsection .bottom .skills .css p, .leftsection .bottom .skills .js .icon, .leftsection .bottom .skills .js p, .leftsection .bottom .skills .design .icon, .leftsection .bottom .skills .design p {
          display: inline-block;
          line-height: 40px; }
        .leftsection .bottom .skills .html p, .leftsection .bottom .skills .css p, .leftsection .bottom .skills .js p, .leftsection .bottom .skills .design p {
          font-family: 'Yantramanav';
          font-weight: 300;
          font-size: 17px;
          letter-spacing: 1px; }
        .leftsection .bottom .skills .html .icon, .leftsection .bottom .skills .css .icon, .leftsection .bottom .skills .js .icon, .leftsection .bottom .skills .design .icon {
          width: 40px;
          height: 40px;
          text-align: center;
          background-color: #240024;
          border-radius: 100%;
          margin-right: 4px; }
          .leftsection .bottom .skills .html .icon i, .leftsection .bottom .skills .css .icon i, .leftsection .bottom .skills .js .icon i, .leftsection .bottom .skills .design .icon i {
            position: relative;
            top: 23%; }
        .leftsection .bottom .skills .html .progress, .leftsection .bottom .skills .css .progress, .leftsection .bottom .skills .js .progress, .leftsection .bottom .skills .design .progress {
          padding: 0;
          margin: 5px 0px;
          height: 7px;
          background-image: -webkit-linear-gradient(left, #FFFBC2, rgba(68, 19, 74, 0));
          background-image: -moz-linear-gradient(left, #FFFBC2, rgba(68, 19, 74, 0));
          background-image: -o-linear-gradient(left, #FFFBC2, rgba(68, 19, 74, 0));
          background-image: -webkit-gradient(linear, left top, right top, from(#FFFBC2), to(rgba(68, 19, 74, 0)));
          background-image: linear-gradient(left, #FFFBC2, rgba(68, 19, 74, 0)); }
        .leftsection .bottom .skills .html .progress.html, .leftsection .bottom .skills .css .progress.html, .leftsection .bottom .skills .js .progress.html, .leftsection .bottom .skills .design .progress.html {
          width: 250px; }
        .leftsection .bottom .skills .html .progress.css, .leftsection .bottom .skills .css .progress.css, .leftsection .bottom .skills .js .progress.css, .leftsection .bottom .skills .design .progress.css {
          width: 200px; }
        .leftsection .bottom .skills .html .progress.js, .leftsection .bottom .skills .css .progress.js, .leftsection .bottom .skills .js .progress.js, .leftsection .bottom .skills .design .progress.js {
          width: 100px; }
        .leftsection .bottom .skills .html .progress.design, .leftsection .bottom .skills .css .progress.design, .leftsection .bottom .skills .js .progress.design, .leftsection .bottom .skills .design .progress.design {
          width: 300px; }

.rightsection {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: calc(100% - 360px);
  height: 1080px;
  background-image: url(../../img/bgd.jpg);
  background-repeat: no-repeat;
  background-position: center; }
  .rightsection .windows {
    position: relative;
    width: 70%;
    height: auto;
    margin: auto;
    min-width: 800px; }
    .rightsection .windows p.title {
      font-size: 40px;
      padding: 15px 30px;
      padding-top: 20px;
      color: #44134A;
      font-weight: 900;
      text-shadow: 0px 0px 12px white; }
    .rightsection .windows .showbox {
      position: relative;
      display: inline-block;
      height: 420px;
      margin-left: 35px;
      margin-bottom: 10px;
      width: calc(50% - 90px);
      min-width: 200px; }
      .rightsection .windows .showbox .window {
        position: relative;
        height: 320px;
        border-radius: 8px;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 5px 15px #888;
        box-shadow: 0px 5px 15px #888;
        text-align: center; }
        .rightsection .windows .showbox .window img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: auto;
          height: 100%;
          margin: auto;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          background-color: #44134A; }
          .rightsection .windows .showbox .window img:hover {
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            height: 120%;
            -webkit-transform: translateX(-9%);
            -ms-transform: translateX(-9%);
            transform: translateX(-9%);
            mix-blend-mode: hard-light; }
          .rightsection .windows .showbox .window img:active {
            mix-blend-mode: darken; }
      .rightsection .windows .showbox p.workname {
        position: relative;
        padding: 5px;
        font-size: 20px;
        font-weight: 900;
        height: 28px;
        display: block;
        color: #44134A;
        text-shadow: 0px 0px 12px white;
        text-align: center;
        line-height: 28px;
        padding-top: 10px; }
      .rightsection .windows .showbox p.content {
        font-size: 15px;
        text-align: center;
        diaplay: block;
        color: #240024; }
  .rightsection .bottomsection {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: -webkit-linear-gradient(left, #0C000D, #44134A);
    background-image: -moz-linear-gradient(left, #0C000D, #44134A);
    background-image: -o-linear-gradient(left, #0C000D, #44134A);
    background-image: -webkit-gradient(linear, left top, right top, from(#0C000D), to(#44134A));
    background-image: linear-gradient(left, #0C000D, #44134A);
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .rightsection .bottomsection p.copyright {
      font-size: 14px;
      color: #FFFBC2;
      text-shadow: 0px 0px 10px white;
      line-height: 50px;
      text-align: center; }

@keyframes gototop {
  0% {
    bottom: 50px;
    -webkit-box-shadow: 0px 0px 10px white;
    box-shadow: 0px 0px 10px white; }
  25% {
    -webkit-box-shadow: 0px 0px 15px white;
    box-shadow: 0px 0px 15px white; }
  50% {
    bottom: 60px;
    -webkit-box-shadow: 0px 0px 10px white;
    box-shadow: 0px 0px 10px white; }
  75% {
    -webkit-box-shadow: 0px 0px 15px white;
    box-shadow: 0px 0px 15px white; }
  100% {
    bottom: 50px;
    -webkit-box-shadow: 0px 0px 10px white;
    box-shadow: 0px 0px 10px white; } }

@-moz-keyframes gototop /* Firefox */ {
  0% {
    bottom: 50px;
    box-shadow: 0px 0px 10px white; }
  25% {
    box-shadow: 0px 0px 15px white; }
  50% {
    bottom: 60px;
    box-shadow: 0px 0px 10px white; }
  75% {
    box-shadow: 0px 0px 15px white; }
  100% {
    bottom: 50px;
    box-shadow: 0px 0px 10px white; } }

@-webkit-keyframes gototop /* Safari 和 Chrome */ {
  0% {
    bottom: 50px;
    -webkit-box-shadow: 0px 0px 10px white;
    box-shadow: 0px 0px 10px white; }
  25% {
    -webkit-box-shadow: 0px 0px 15px white;
    box-shadow: 0px 0px 15px white; }
  50% {
    bottom: 60px;
    -webkit-box-shadow: 0px 0px 10px white;
    box-shadow: 0px 0px 10px white; }
  75% {
    -webkit-box-shadow: 0px 0px 15px white;
    box-shadow: 0px 0px 15px white; }
  100% {
    bottom: 50px;
    -webkit-box-shadow: 0px 0px 10px white;
    box-shadow: 0px 0px 10px white; } }

@-o-keyframes gototop /* Opera */ {
  0% {
    bottom: 50px;
    box-shadow: 0px 0px 10px white; }
  25% {
    box-shadow: 0px 0px 15px white; }
  50% {
    bottom: 60px;
    box-shadow: 0px 0px 10px white; }
  75% {
    box-shadow: 0px 0px 15px white; }
  100% {
    bottom: 50px;
    box-shadow: 0px 0px 10px white; } }

.gototop {
  position: fixed;
  display: none;
  color: #FFFBC2;
  background-color: #44134A;
  right: 12px;
  bottom: 50px;
  border-radius: 100%;
  padding: 12px 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px white;
  box-shadow: 0px 0px 10px white;
  -webkit-animation: gototop 3s infinite;
  animation: gototop 3s infinite; }
  .gototop:active {
    background-color: #240024;
    color: white; }
  .gototop p {
    font-size: 14px;
    text-align: center; }

@media screen and (max-width: 1180px) {
  .leftsection {
    position: relative;
    width: 100%; }
    .leftsection .bottom {
      height: auto;
      padding: 20px 10px; }
      .leftsection .bottom p.title {
        font-size: 20px;
        margin-top: 20px;
        text-align: center; }
      .leftsection .bottom .about, .leftsection .bottom .contact, .leftsection .bottom .skills {
        width: 100%;
        font-size: 18px; }
        .leftsection .bottom .about p.content, .leftsection .bottom .contact p.content, .leftsection .bottom .skills p.content {
          font-size: 14px; }
      .leftsection .bottom .contact {
        height: 200px; }
      .leftsection .bottom .skills {
        height: 400px; }
        .leftsection .bottom .skills .html .progress.html, .leftsection .bottom .skills .css .progress.html, .leftsection .bottom .skills .js .progress.html, .leftsection .bottom .skills .design .progress.html {
          width: calc(100% - 200px*3/8); }
        .leftsection .bottom .skills .html .progress.css, .leftsection .bottom .skills .css .progress.css, .leftsection .bottom .skills .js .progress.css, .leftsection .bottom .skills .design .progress.css {
          width: calc(100% - 250px*3/8); }
        .leftsection .bottom .skills .html .progress.js, .leftsection .bottom .skills .css .progress.js, .leftsection .bottom .skills .js .progress.js, .leftsection .bottom .skills .design .progress.js {
          width: calc(100% - 300px*9/20); }
        .leftsection .bottom .skills .html .progress.design, .leftsection .bottom .skills .css .progress.design, .leftsection .bottom .skills .js .progress.design, .leftsection .bottom .skills .design .progress.design {
          width: calc(100% - 100px*3/8); }
  .rightsection {
    position: relative;
    width: 100%;
    height: auto;
    right: initial;
    top: initial;
    background-image: url(../../img/bgm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    padding: 0; }
    .rightsection .windows {
      margin: auto;
      width: 80%;
      min-width: initial;
      padding: 0;
      max-width: 280px; }
      .rightsection .windows .showbox {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        min-width: initial;
        margin: auto; }
        .rightsection .windows .showbox .window {
          height: 180px; }
          .rightsection .windows .showbox .window img {
            width: 100%;
            height: auto; }
            .rightsection .windows .showbox .window img:hover {
              -webkit-transform: initial;
              -ms-transform: initial;
              transform: initial; }
        .rightsection .windows .showbox p.workname {
          font-size: 20px; }
        .rightsection .windows .showbox p.content {
          font-size: 14px; }
    .rightsection .bottomsection {
      position: relative; }
      .rightsection .bottomsection p.copyright {
        font-size: 12px; }
  .gototop {
    display: block; } }
